@keyframes buttonMove {
  0% {
    transform: scale(1) translate(0, 0);
  }

  100% {
    transform: scale(1.05) translate(0, -8px);
  }
}

.buttonMove {
  animation: buttonMove 0.8s ease-out infinite both alternate;
}

.portraitCont::after {
  animation: buttonMove 0.8s ease-out infinite both alternate;
}

@keyframes imageMoves {
  0% {
    transform: translateY(-17.5px);
  }

  100% {
    transform: translateY(10px);
  }
}

.portrait {
  animation: imageMoves 3s ease-in-out infinite both alternate;
}
.portrait-shadow {
  animation: imageMoves 3s ease-in-out infinite both alternate;
  animation-delay: 0.5s;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
