html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  scroll-margin-top: 129px;
}

@media only screen and (min-width: 1024px) {
  * {
    scroll-margin-top: 157px;
  }
}

a:focus-within,
button:focus-within,
input:focus-within {
  border-radius: 6px;
  outline: 1px solid black;
}

:root.dark a:focus-within,
:root.dark button:focus-within,
:root.dark input:focus-within {
  border-radius: 6px;
  outline: 1px solid white;
}
